<style>
    form label {
        width: 100pt;
        display: block;
    }
</style>
<h1>Admin Page</h1>
<div>
    <h2>Добавить программу</h2>
    {{ form(form_program) }}
</div>
<table>
    <thead>
    <tr>
        <th>№</th>
        <th>Название</th>
        <th>Время</th>
        <th>Уровень подготовки</th>
    </tr>
    </thead>
    <tbody>
    {% for program in programs %}
        <tr>
            <td>{{ loop.index }}<?php echo $index ?></td>
            <td>{{ program.getName() }}</td>
            <td>{{ program.getDuration() }}</td>
            <td>{{ program.getDiscount() }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>