<html>
<head>
    <meta charset="UTF-8">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<h1>Admin Page</h1>
<div class="col-3">
    <h2>Добавить программу</h2>
    {{ form(form_program) }}
</div>
<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>№</th>
        <th>Название</th>
        <th>Время</th>
        <th>Уровень подготовки</th>
    </tr>
    </thead>
    <tbody>
    {% for program in programmes %}
        <tr>
            <td>{{ loop.index }}<?php echo $index ?></td>
            <td>{{ program.getName() }}</td>
            <td>{{ program.getDuration() }}</td>
            <td>{{ program.getDiscount() }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>